# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true #否删除行尾空格
insert_final_newline = true  # 是否让文件以空行结束

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
